.backgroundCircle1{
  width: 280px;
  height: 280px;
  background-color: #FF3636;
  position: absolute;
  border-radius: 140px;
  top: 250px;
  left: -57px;
}

.backgroundCircle2{
  width: 144px;
  height: 144px;
  background-color: #FF3636;
  position: absolute;
  border-radius: 72px;
  top: 137px;
  left: 675px;
}

.backgroundCircle3{
  width: 200px;
  height: 200px;
  background-color: #FF3636;
  position: absolute;
  border-radius: 100px;
  top: 450px;
  left: 1100px;
}

.backgroundCircles{
  filter: blur(250px);
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
}

.heroOverlay{
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(17, 4, 4, 0.5);
}

.Hero{
  width: 100%;
  background: rgba(17, 4, 4, 0.5);
  backdrop-filter: blur(100px);
  z-index: 1;
}

.heroContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}


