
.backgroundCircle1{
  width: 280px;
  height: 280px;
  background-color: rgba(var(--circle-color), 1);
  position: absolute;
  border-radius: 140px;
  top: 250px;
  left: -57px;
}

.backgroundCircle2{
  width: 144px;
  height: 144px;
  background-color: rgba(var(--circle-color),1);
  position: absolute;
  border-radius: 72px;
  top: 137px;
  left: 675px;
}

.backgroundCircle3{
  width: 200px;
  height: 200px;
  background-color: rgba(var(--circle-color),1);
  position: absolute;
  border-radius: 100px;
  top: 450px;
  left: 1100px;
}

.backgroundCircles{
  filter: blur(250px);
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
}

.heroOverlay{
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}

.Hero{
  width: 100%;
  z-index: 1;
}

.heroContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}


.mouseFollower{
  position: absolute;
  width: 20vw;
  height: 20vw;
  background-color: rgba(var(--theme-darkshade),0.5);
  filter: blur(100px);
  z-index: 1;
  border-radius: 10vw;
  top: 50px;
}

.closureDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}


