
.navigationMenu{
    width: 95%;
    max-width: 720px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(var(--primary-theme), 0.2);
    padding: 10px 10px 12px 10px;
    border-radius: 20px;
    border: solid 1px var(--theme-solid);
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}

.navivationCategory:hover{
    color: rgba(233, 54, 54, 0.8);
    cursor: pointer;
}
