.navbar{
    width: 100vw;
    max-width: 720px;
    height: 100px;
    z-index: 3;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
    align-self: center;
   
}

.leftWing{
display: flex;
align-items: center;
height: 100%;
width: 47.6%;
justify-content: space-around;
color: rgba(var(--primary-theme),0.6);
font-size: 16px;
margin-right: 40px;
}

.navbarPage{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.navbarPage:hover{
    background-color: rgba(var(--theme-hover), 0.219);
    color: rgba(255, 255, 255,0.8);
}

.rightWing{
    display: flex;
    align-items: center;
    height: 100%;
    width: 47.6%;
    justify-content: space-around;
    color: rgba(var(--primary-theme),0.6);
    font-size: 16px;
    width: 100%;
    transition: all 300ms ease!important;
}


.joinNowButton {
    position: relative;
    font-style: normal;
    color: rgba(255, 255, 255,0.6);
    border: 1px solid transparent;
    border-radius: 40px;
    background: #2E0A0A;
    background-clip: padding-box;
    padding: 10px;
    height: 40px;
    transition: all 150ms ease;
    font-size: 16px;
    margin: 0px 70px 0 60px;
}

.joinNowButton:hover{
    background: linear-gradient(#FF0202, #B03333);
    color: rgba(255, 255, 255,1);
    
filter: drop-shadow(0px 0px 20px #FF0202);

}

.joinNowButton::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(#FF0202, #B03333);
    content: '';
    z-index: -1;
    border-radius: 40px;
}


.socials{
    margin: 0px 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.socials i{
    font-size: 20px;
    
    
    padding:20px 20px;
    border-radius: 50px;
    display: flex; 
    cursor: pointer;
}

.socials i:hover{
    color: rgba(255, 255, 255,0.8);
    background-color: rgba(var(--theme-hover), 0.219);
}

.joinNow{
    background-color:rgba(var(--primary-theme),0.2);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    color: rgba(255,255,255, 0.5);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 300ms ease;
    cursor: pointer;
}

.D4ULogo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.logoOverlay{
    width: 68px;
    height: 68px;
    position: absolute;
    background-color: rgba(var(--primary-theme),1);
    z-index: 4;
    opacity: 0.6;
    mask-image: url(../../public/Design4U.svg);
    mask-size: cover;
}

.D4ULogo div:nth-of-type(2){
    filter:grayscale(100%);
}

.joinNow:hover{
    background-color:rgba(var(--primary-theme),0.4);
    border: 1px solid rgba(var(--primary-theme), 0.8);
}

@media only screen and (max-width: 610px) {
   

    .rightWing{
     font-size: 12px;
    }
 
    .socials i{
     font-size: 16px;
     
     
     padding:20px 20px;
     border-radius: 50px;
     display: flex; 
     cursor: pointer;
 }
} 