@keyframes background-pan {

    from{
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
    
}
.worksTitle{
    align-self: center;
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 30px;
    color: rgba(var(--primary-underline), 0.8);
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, rgba(var(--theme-darkshade), 0.8),rgba(var(--theme-maincolor2), 0.8),rgba(var(--primary-theme), 0.8),rgba(var(--theme-darkshade), 0.8));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 2;
}

.arrowDown{
    left: 50%;
    top: 60%;
    position: absolute;
    transform: translate(-50%, 50%);
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 500px;
    pointer-events: none;
}

.arrowUp{
    left: 50%;
    top: 8.5%;
    transform: translate(-50%, 50%) rotate(180deg);
    position: absolute;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 500px;
    pointer-events: none;
}

.priceContainer{
    z-index: 2;
    width:98vw;
    max-width: 73vw;
    max-width: 1080px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(var(--primary-theme), 0.1);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    border-radius: 20px;
    margin: 20px 0 20px 0;
    transition: all 300ms ease;
    position: relative;
    overflow-y: hidden;
}



.Navigator{
    display: flex;
    justify-content: space-around;
    background-color: rgba(var(--primary-theme), 0.1);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    border-radius: 20px;
    width: 50vw;
    max-width: 720px;
    padding: 4px 4px;
    margin: auto;
    position: relative;
    
}
.navigatorElement{
    padding: 6px 10px;
    border-radius: 40px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(var(--primary-theme), 0); 
    transition: all 300ms ease;
    margin-left: 5px;
}
.navigatorElement:hover{
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    background-color: rgba(var(--primary-theme), 0.2); 
}

.activeElement{
    background-color: rgba(var(--primary-theme), 0.6);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    letter-spacing: 1px;

}

.activeElement:hover{
    background-color: rgba(var(--primary-theme), 0.6);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

.priceBodies{
    display:flex;
    transition: all 600ms smooth;
}

.pbody{
    overflow: hidden;
    transition: all 600ms ease;
}

.pbody div{
    white-space: nowrap;
}

.bodyHeading{
    padding: 10px;
    width: 100%;
    display: flex;
    background-color: rgba(var(--primary-theme), 0.1);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    color: rgba(var(--theme-lightshade), 0.8);
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.rightHeading{
    width: 34%;
    text-align: center;
    overflow-x: hidden;
}
.leftHeading{
    width: 66%;
    display: flex;
    overflow-x: hidden;
}

.leftHeadingElement{
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.bodyContainer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.bodyContainer::-webkit-scrollbar {
    display: none;
  }
  

.FX{
    width: 100%;
    display: flex;
}

.rightArea{
    width: 34%;
    height: 100%;
}

.leftArea{
    width: 66%;
    height: 100%;
}


.rightElement{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 0px;
}

.rightFx{
  display: flex;
    margin-top: 10px;
  padding: 10px;
  background-color: rgba(var(--primary-theme), 0.1);
  border: 1px solid rgba(var(--primary-theme), 0.8);
  border-radius: 20px;
  text-align: center;
  overflow-x: hidden;
}

.rightStatus{
    padding: 3px;
    background-color: rgba(var(--primary-theme), 0.1);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    color: rgba(var(--theme-lightshade), 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
}
@keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-35%);
    }
    100% {
        transform: translateX(0);
      }
  }

.fxName{
    height: 50%;
    color: rgba(var(--primary-theme), 0.8);
    align-self: center;
    font-weight: 600;
    margin-left: 10px;
    overflow: hidden;
}

.fxName span{
    display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fxSpan{
    margin-right: 2px;
    color: rgba(var(--primary-theme) ,1);
    opacity: 0.4;
    font-weight: 600;
    font-size: 14px;
    align-self: center;
    position: relative;
    z-index: -2;
}

.fxSpan::before{
    content: '';
  position: absolute;
  top: 3px;
  left: 40%;
  transform: translate(-50,-50%);
  height: 3px;
  width: 100%;
  max-width: 15px;
  background-color: rgba(var(--primary-theme), 0.8);
  transform-origin: top left;
  transform: rotate(45deg);
 
}

@media only screen and (max-width: 700px) {
.longfx span{
    animation: slide-left 300ms linear infinite;
}
}
.priceSections{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    
}

.priceElement{
  display: flex;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgba(var(--primary-theme), 0.1);
  border: 1px solid rgba(var(--primary-theme), 0.8);
  border-radius: 20px;
  margin:10px 10px 0px 0px;
  text-align: center;
  justify-content: center;
  color: rgba(var(--primary-theme), 0.8);
  font-weight: 800;
  overflow-x: hidden;
}

.priceElement span{
    min-width: 20%;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.elementIcon{
    font-size: 18px;
    margin-right: 5px;
    margin-top: 1px;
}

@media only screen and (max-width: 700px) {
    .mhide{
        display: none;
    }
}

@media only screen and (max-width: 474px) {
    .priceContainer{
        overflow-x: hidden;
    }
    .longfx span{
        animation: none;
    }

    .FX{
        flex-direction: column;
    }

    .rightArea{
        width: 100%;
        height: 100%;
    }

    .rightFx{
        width: 100%;
        justify-content: center;
    }

    .priceSections{
        width: 150%;
    }
    .bodyHeading{
        display: none;
    }

    .arrowUp{
        top:-3.25%;
    }

    .arrowDown{
        top: 55%;
    }

}
