@keyframes background-pan {

    from{
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
    
}

.main{
    display: flex;
    align-self: center;
    width: 98vw;
    max-width: 1440px;
    flex-direction: column;
    z-index: 2;
}
.reviewsContainer{
    width: 98vw;
    max-width: 1440px;
    display: flex;
    overflow: scroll;
    align-self: center;
    background-color: rgba(var(--primary-theme), 0.1);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    border-radius: 20px;
    margin: 20px 0 20px 0;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox o*/
  cursor:grab;
}

.paymentTitle{
    align-self: center;
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 30px;
    color: rgba(var(--primary-underline), 0.8);
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, rgba(var(--theme-darkshade), 0.8),rgba(var(--theme-maincolor2), 0.8),rgba(var(--primary-theme), 0.8),rgba(var(--theme-darkshade), 0.8));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.reviewsContainer::-webkit-scrollbar{
    display: none;
}

.review{
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--primary-theme), 0.1);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 40px 0px 40px 40px;
    min-width: 500px;
}

.nameHandler{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.reviewTitle{
    color: rgba(255,255,255,0.6);
    font-weight: 600;
    font-size: 14px;
}

.reviewValueArea{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.statsProfileImg{
    border-radius: 25px;
    align-self: center;
    border: 1px solid rgba(var(--primary-underline), 1);
    margin-right: 10px;
    background-image: url(https://i.ibb.co/XVzcCMn/f90e3b84998242ab4f1dbb354ab989cb.png);
    background-size: cover;
    background-position: center;
}

.reviewValue{
    font-size: 15px;
    font-weight:  600;
    
    color: rgba(255, 255, 255, 0.8);
}

.reviewDesc{
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.reviewDesc span{
    text-align: center;
    width: 100%;
}

.review i{
    font-size: 25px;
    display: flex;
}

.bottomQuote{
    
    display: flex;
    justify-content: right;
}

@media only screen and (max-width: 600px) {
    

    .review{
        display: flex;
        flex-direction: column;
        background-color: rgba(var(--primary-theme), 0.1);
        border: 1px solid rgba(var(--primary-theme), 0.8);
        border-radius: 20px;
        padding: 15px;
        margin: 22.5px 0px 22.5px 30px;
        min-width: 375px;
    }
    
    .nameHandler{
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.5px;
    }
    .reviewTitle{
        color: rgba(255,255,255,0.6);
        font-weight: 600;
        font-size: 10px;
    }
    
    .reviewValueArea{
        display: flex;
        align-items: center;
        margin: 2px 0px;
    }
    
    .statsProfileImg{
        border-radius: 25px;
        align-self: center;
        border: 1px solid rgba(var(--primary-underline), 1);
        margin-right: 5px;
    }
    
    .reviewValue{
        font-size: 12px;
        font-weight:  600;
        
        color: rgba(255, 255, 255, 0.8);
    }
    
    .reviewDesc{
        font-weight: 800;
        color: rgba(255, 255, 255, 0.8);
        margin: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .reviewDesc span{
        text-align: center;
        width: 100%;
    }
    
    .review i{
        font-size: 18px;
        display: flex;
    }
    
    .bottomQuote{
        
        display: flex;
        justify-content: right;
    }
}