@keyframes background-pan {

    from{
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
    
}

.main{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
}
.worksTitle{
    align-self: center;
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 30px;
    color: rgba(var(--primary-underline), 0.8);
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, rgba(var(--theme-darkshade), 0.8),rgba(var(--theme-maincolor2), 0.8),rgba(var(--primary-theme), 0.8),rgba(var(--theme-darkshade), 0.8));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 2;
}

.coveringArea{
    z-index: 2;
    width: 95vw;
    max-width: 1080px;
    align-self: center;
    padding: 20px;
    margin: 20px 0 20px 0;
    transition: all 300ms ease;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    row-gap: 40px;
}


@media only screen and (max-width: 1000px) {
    .coveringArea{
        grid-template-columns: 45% 45%;
    }
}

@media only screen and (max-width: 780px) {
    .coveringArea{
        grid-template-columns: 360px;
    }
}

.member{
  --themeR:255;
  --themeG:255;
  --themeB:255;
   display: flex;
   max-width: 360px;
   flex-direction: column;
   background-color: green;
   height: 200px;
   position: relative;
   background-color: rgba(var(--primary-theme), 0.2);
    border-radius: 10px;
    border: solid 1px rgba(var(--primary-underline), 1);
    overflow: hidden;
}

.avatar{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(var(--theme-darkshade), 1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgba(var(--primary-theme), 0.8);
    transition: all 300ms ease;
    z-index: 2;
}

.member:hover .avatar{
    left: 13%;
}


.banner{
    background-color: rgba(var(--theme-darkshade), 1);
    height: 40%;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    display: flex;
}

.banner img{
    width: 110%;
    align-self: center;
    filter: grayscale(100%);
    transition: all 300ms ease;
}

.member:hover .banner img{
    width: 100%;
}

.tint{
    background-color: rgba(var(--primary-theme), 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    mix-blend-mode: color;
}
.socials{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 100%;
    transition: all 300ms ease;
}

.member:hover .socials{
    padding-left: 25%;
}
.socialIcon{
    color: rgba(var(--primary-theme), 0.5);
    margin: 0px 5px;
}

.socialIcon:hover{
    color: rgba(var(--primary-theme), 0.8);
    cursor: pointer;
}
.memberBody{
    display: flex;
    flex-direction: column;
    height: 40%;
}

.memberName {
    height: 80%;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 50%;
    color: rgba(var(--primary-theme), 0.8);
    font-size: 18px;
    display: flex;
    transition: all 300ms ease;
  }

.Username{
    transform: translate(-50%);
    transition: all 300ms ease;
    min-width: 100%;
}
.Tag{
    margin-left: 75%;
    transition: all 300ms ease;
}
  
.member:hover .Username{
    transform: translate(0%);
    min-width: 0;
}

.member:hover .Tag{
    margin-left: 0;
}

.member:hover .memberName{
    padding-left: 10px;
}

.rolesContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:flex-start;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-left: 10px;
}

.rolesContainer::-webkit-scrollbar {
    display: none;
    
  }

.role{
    font-size: 12px;
    background-color: rgba(var(--primary-theme), 0.2);
    border-radius: 20px;
    border: solid 1px rgba(var(--primary-underline), 1);
    padding: 2px 15px 2px 10px;
    text-align: left;  
    display: inline-block;  
    color: rgba(var(--theme-lightshade), 1);
    font-weight: 600;
    margin: 0px 5px;
    white-space: nowrap;
    flex-shrink: 0;
    overflow: hidden;
    margin-left: 50%;
    transition: all 300ms ease;
}

.role:hover{
    cursor: pointer;
}

.role:nth-of-type(1){
    margin-left: 50%;
    transform: translate(-50%);
}

.member:hover .role{
    margin-left: 0;
    transform: translate(0);
}

.grayscale{
    --themeR:255;
    --themeG:255;
    --themeB:255;
    --theme-solid:red;
    --primary-theme: var(--themeR), var(--themeG), var(--themeB);
  --circle-color: var(--themeR), calc(var(--themeG) * 0.7), calc(var(--themeB) * 0.7);
  --background-color: calc(var(--themeR) * 0.0784), calc(var(--themeG) * 0.091), calc(var(--themeB) * 0.091);
  --theme-darkshade: calc(var(--themeR) * 0.5), calc(var(--themeG) * 0.25), calc(var(--themeB) * 0.25);
  --theme-lightshade: calc(var(--themeR) * 1.5), calc(var(--themeG) * 1.091), calc(var(--themeB) * 1.091);
  --theme-maincolor2: calc(var(--themeR) * 0.5), calc(var(--themeG) * 0.5), calc(var(--themeB) * 0.5);
  --theme-maincolor3: calc(var(--themeR) * 1.5), calc(var(--themeG) * 1.5), calc(var(--themeB) * 1.5);
  --theme-hover: calc(var(--themeR) * 0.95), calc(var(--themeG) * 0.91), calc(var(--themeB) * 0.91);
  --primary-underline: calc(var(--themeR) * 0.894), calc(var(--themeG) * 0.961), calc(var(--themeB) * 0.961);
  --glass-theme: calc(var(--themeR) * 1.2), calc(var(--themeG) * 1.2), calc(var(--themeB) * 1.2);
}

.grayscale .banner{
    filter: grayscale(100%);
    z-index: -1;
}

.grayscale .avatar{
    filter: grayscale(100%);
}


