
.statsContainer{
    width: 98vw;
    max-width: 1440px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(var(--primary-theme), 0.1);
    padding: 10px;
    border-radius: 20px;
    border: solid 1px rgba(var(--primary-theme), 0.8);
    margin:10px;
    overflow: hidden;
    position: relative
}

.mouseFollower{
    min-width: 100px;
    min-height: 100px;
    background-color: rgba(var(--primary-theme), 0.8);
    border-radius: 25px;
    position: absolute;
    z-index: -2;
    filter: blur(70px);
}
.stat{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.statName{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
    font-size: 16px;
}
.statCount{
    font-size: 72px;
    font-weight: 900;
    background: linear-gradient(267.19deg, rgba(var(--primary-theme), 0.8) 28.48%, rgba(var(--theme-lightshade), 0.8) 75.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.latestTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.4);
}
.latestContainer{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(var(--primary-theme), 0.2);
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgba(var(--primary-underline), 1);
    display: flex;
}

.statsProfileImg{
    border-radius: 25px;
    align-self: center;
    border: 1px solid rgba(var(--primary-underline), 1);;
}

.latestContainer div{
    align-self: center;
    margin-left: 10px;

}


@media only screen and (max-width: 1000px) {
    .statsContainer{
        width: 75vw;
        max-width: 1440px;
        align-self: center;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 20px;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(var(--primary-theme), 0.1);
        padding: 10px;
        border-radius: 20px;
        border: solid 1px rgba(var(--primary-theme), 0.8);
    }
    
  }

  @media only screen and (max-width: 780px) {
    .statsContainer{
        width: 80vw;
        max-width: 1440px;
        align-self: center;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 20px;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(var(--primary-theme), 0.1);
        padding: 10px;
        border-radius: 20px;
        border: solid 1px rgba(var(--primary-theme), 0.8);
    }
    
  }
